.top-bar {
  background: #f8f8f8;
  padding: 10px 0;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:  240px ;
  padding-right:  240px ;
}
.social-links{

  width: 155px;
  margin-right: 15px;
  text-decoration: none;
}
.shipping-notice {
    text-align: center;
    text-decoration:dashed;
}
.auth-links {
  width: 200px;
    color: #666;
    margin-left: 20px;
    text-decoration: none;
      display: flex;
      gap: 30px ;
}
.signup-btn{
  text-align: center;
  width: 75px;
  border: solid black 1px;
  color: white;
  background-color: black;
  border-radius: 3px;
}
header {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 240px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    color: #1a1a1a;
    font-weight: 500;
    font-size: 14px;
}



.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 700;
}


.nav-actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.search{
  width: 260px;
  height: 52px;
  display: inline;
}
.icons{
  display: inline;
  font-size: 30px;
}
h1{
  font-size: 40px;
  margin: 0px;
}
.gap{
  margin: 0px;
  text-align: center;
  background-color: #F5F5F5;
}
.old{
  color:#666;
}